@keyframes Inpkm {
    from {
         transform: translateY(50px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes form {
    0% {
        transform: scale(0.5);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
    }
}